<div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <div class="angular-logo">
                    <img src="assets/img/angular2-logo.png" alt="">
                </div>
                <h1 class="presentation-title">Neo App Stack</h1>
                <div class="fog-low">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
                <div class="fog-low right">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
            </div>
            <br />
            <div class="title-brand">
            <h2 class="presentation-subtitle text-center">Ads free App Collection  ...</h2>
            <br />
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
                <button type="button" class="btn btn-outline-neutral btn-round">Download</button>
            </div>
        </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by
    <!-- <h6 class="category category-absolute">Designed and coded by -->

        <a href="https://www.linkedin.com/in/vrmasrv" target="_blank">
            <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo">
        </a>
    </h6>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">

        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Let's talk about Apps</h2>
                <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h5>
                <br>
                <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Beautiful Gallery</h4>
                        <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">New Ideas</h4>
                        <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Statistics</h4>
                        <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Delightful design</h4>
                        <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!---->

<div class="section section-icons">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <div class="icons-nucleo">
                <i class="first-left-icon nc-icon nc-planet add-animation animated"></i>
                <i class="second-left-icon nc-icon nc-touch-id add-animation animated"></i>
                <i class="third-left-icon nc-icon nc-lock-circle-open add-animation animated"></i>
                <i class="fourth-left-icon nc-icon nc-tap-01 add-animation"></i>
                <i class="fifth-left-icon nc-icon nc-zoom-split add-animation animated"></i>
                <i class="sixth-left-icon nc-icon nc-atom add-animation"></i>
                <i class="seventh-left-icon nc-icon nc-favourite-28 add-animation animated"></i>
                <i class="eighth-left-icon nc-icon nc-settings add-animation"></i>
                <i class="ninth-left-icon nc-icon nc-bulb-63 add-animation animated"></i>
                <i class="tenth-left-icon nc-icon nc-circle-10 add-animation"></i>
              </div>
            </div>
            <div class="col-md-6 text-center">
              <h2 class="title revealOnScroll section-icons-title">Custom Icons</h2>
              <h5 class="description">
                Paper Kit 2 PRO comes with 100 custom demo icons made by our friends from
                <a href="https://nucleoapp.com/?ref=1712" target="_blank">NucleoApp</a>. The official package contains over 20.729 icons which are looking great in combination with Paper Kit 2 PRO. Make sure you check all of them and use those that you like the most.
              </h5>
              <br>
              <div class="row">
                    <div class="col-md-3">
                      <div class="card card-hover-effect card-just-text">
                        <div class="card-body text-center">
                          <div class="card-icon icon-danger">
                            <a href="#paperkit"><i class="fa fa-desktop icon-danger" aria-hidden="true"></i></a>
                          </div>
                          <p class="card-description">Admin &amp; Dashboards</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                            <div class="card card-hover-effect card-just-text">
                              <div class="card-body text-center">
                                <div class="card-icon icon-danger">
                                  <a href="#paperkit"><i class="fa fa-desktop icon-danger" aria-hidden="true"></i></a>
                                </div>
                                <p class="card-description">Admin &amp; Dashboards</p>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-3">
                                <div class="card card-hover-effect card-just-text">
                                  <div class="card-body text-center">
                                    <div class="card-icon icon-danger">
                                      <a href="#paperkit"><i class="fa fa-desktop icon-danger" aria-hidden="true"></i></a>
                                    </div>
                                    <p class="card-description">Admin &amp; Dashboards</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-3">
                                    <div class="card card-hover-effect card-just-text">
                                      <div class="card-body text-center">
                                        <div class="card-icon icon-danger">
                                          <a href="#paperkit"><i class="fa fa-desktop icon-danger" aria-hidden="true"></i></a>
                                        </div>
                                        <p class="card-description">Admin &amp; Dashboards</p>
                                      </div>
                                    </div>
                                  </div>
                </div>
            </div>
            <div class="col-md-3">
              <div class="icons-nucleo">
                <i class="first-right-icon nc-icon nc-bank add-animation animated"></i>
                <i class="second-right-icon nc-icon nc-tag-content add-animation animated"></i>
                <i class="third-right-icon nc-icon nc-bell-55 add-animation animated"></i>
                <i class="fourth-right-icon nc-icon nc-tv-2 add-animation"></i>
                <i class="fifth-right-icon nc-icon nc-map-big add-animation animated"></i>
                <i class="sixth-right-icon nc-icon nc-badge add-animation"></i>
                <i class="seventh-right-icon nc-icon nc-simple-add add-animation animated"></i>
                <i class="eighth-right-icon nc-icon nc-trophy add-animation"></i>
                <i class="ninth-right-icon nc-icon nc-hat-3 add-animation animated"></i>
                <i class="tenth-right-icon nc-icon nc-key-25 add-animation"></i>
              </div>
            </div>
          </div>
        </div>
      </div>


<!---->

<div class="section section-dark text-center">
    <div class="container">
        <h3 class="title-uppercase">We build great products.</h3>
        <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
        <h2 class="title">Let's talk about us</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Henry Ford</h4>
                                <h6 class="card-category">Product Manager</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Sophie West</h4>
                                <h6 class="card-category">Designer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Robert Orben</h4>
                                <h6 class="card-category">Developer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>