<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a [routerLink]="['/about-me']">About Me</a></li>
                    <li><a href="http://blog.neoappstack.com">Blog</a></li>
                    <li><a href="#">Licenses</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by VrmaSrv
                </span>
            </div>
        </div>
    </div>
</footer>
